mixin subsections
  section.fullD#rinoplastia
    .bg
    .close: i.fa.fa-times
    .container
      .col6
        h2 Rinoplastía
        h4 Descripción
        p Es una técnica que consiste en aplicar de forma gradual y cuidadosa, una solución en la diversas porciones de la nariz de manera que provoca la total anestesia y un mínimo de sangrado durante la cirugía, a esto se le conoce como tumescencia.  Gracias a esta técnica, la cirugía se hace más segura, rediciendo tiempo quirúrgico, tiempo de recuperación y así evitando los riesgos de la anestesia general.  Permitiendo hacer una cirugía completa de nariz en sus diversas partes como:
        p <strong>Septoplastia:</strong> Consiste en corregir las desviaciones que presenta el cartílago y hueso septal, siendo posible corregir todos los tipos de desviaciones tanto anteriores como posteriores sin requerir uso de tapones.
        p <strong>Gibectomia:</strong> Reducción de cartílago y hueso excedente del dorso (joroba nasal) que deforma la nariz, pudiendo quitar todos los tamaños de gibas.
        p <strong>Punta nasal:</strong> Levantar y definir la punta nasal a través de la colocación de injertos y suturas en diversas formas.
        p <strong>Osteotomias:</strong> Modificación de los huesos nasales selectivamente para reducir narices anchas en la parte superior.
      .col6
        h3 Cirugía de naríz por tumescencia sin tapones, sin dolor.
        h4 Objetivo
        ul
          li Mejorar la función y estética de la nariz
          li Edad
          li A partir de los 16 años
          li Tiempo de cirugía: 60 minutos
          li Tiempo de recuperación: 24 hrs
  
  section.fullD#blefaroplastia
    .bg
    .close: i.fa.fa-times
    .container
      .col6
        h2 Blefaroplastía
        h4 Descripción
        p Consiste en quitar el exceso de piel de los párpados con o sin extracción de las bolsas de grasa.
      .col6
        h3 Cirugía de párpados/bolsas de los ojos.
        h4 Objetivo
        p Refrescar la mirada, quitar la apariencia de cansancio tanto en hombres como en mujeres. 
        p También se realiza con el propósito de hacer el ojo más grande luciendo una mirada más atractiva.  Otro objetivo es abrir el campo visual y mejorar la visión en pacientes con piel redundante que impide una visión adecuada.
        ul
          li Edad
          li A partir de los 18 años
          li Tiempo de cirugía
          li Sólo parpados superiores: 20 minutos
          li Sólo párpados superiores e inferiores: 30 minutos
          li Tiempo de recuperación: 48 hrs


  section.fullD#otoplastia
    .bg
    .close: i.fa.fa-times
    .container
      .col6
        h2 Otoplastía
        h4 Descripción
        p Consiste en la corrección de la forma de las orejas cuando estas se encuentran despegadas.
      .col6
        h3 Corrección de orejas
        h4 Objetivo
        p Es Estético, aumentando la autoestima del paciente, evitando traumas psicológicos sobre todo en niños.
        ul
          li Edad
          li Esta cirugía puede realizarse a partir de los 9 años cuando la oreja alcanza su desarrollo total.
          li Tiempo de cirugía 45 minutos
          li Tiempo de recuperación: 24 hrs

  section.fullD#cirugiadementon
    .bg
    .close: i.fa.fa-times
    .container
      .col6
        h2 Mentoplastía
        h4 Descripción
        p Colocación de un implante sólido o prótesis a través de incisiones mínimas.
      .col6
        h3 Aumento del mentón
        h4 Objetivo
        p Aumentar la proyección del mentón logrando un perfil armónico.
        ul
          li Edad
          li A partir de los 15 años.
          li Tiempo de Cirugía: 5 a 20 minutos
          li Tiempo de recuperación: 24 hrs

  section.fullD#bichectomia
    .bg
    .close: i.fa.fa-times
    .container
      .col6
        h2 Bichectomía
        h4 Descripción
        p Las bolsas de Bichat son depósitos de grasa dentro de las mejillas, estas pueden dar la apariencia de un rostro redondeado en algunas personas.
      .col6
        h3 Perfilar el contorno facial a nivel de las mejillas con fines estéticos.
        h4 Objetivo
        p Aumentar la proyección del mentón logrando un perfil armónico.
        ul
          li Edad
          li A partir de los 15 años.
          li Tiempo de Cirugía: 5 a 20 minutos
          li Tiempo de recuperación: 24 hrs

  section.fullD#liposucciondecuello
    .bg
    .close: i.fa.fa-times
    .container
      .col6
        h2 Liposucción del cuello
        h4 Descripción
        p Retirar a través de un sistema de succión y cánulas finas el exceso de grasa localizada en la región najo la mandíbula y alta del cuello.
      .col6
        h3 Dar una apariencia más juvenil a la cara y definir el reborde mandibular y mentón.
        h4 Objetivo
        p Aumentar la proyección del mentón logrando un perfil armónico.
        ul
          li Edad
          li A partir de los 15 años.
          li Tiempo de Cirugía: 20 a 30 minutos
          li Tiempo de recuperación: 24 hrs
