//- out: style.css
@import '../../dw/dw.less';
@import '../../dw/docs.less';

/* ################################ CONTAINER WIDTHS: */
@containerWidth: 960px;
@containerWidthTablet: 480px;
/* ################################ COLORS */
@b: #4E4E4E;
@w: #f5f5f5;
@g: #888;
@main: #24486B;
@sec:  #219CD2;
/* ################################ FONTS */
.font{ font-family: 'Lato', sans-serif; }
/* ################################ CLASSES */
.bgF(@img, @pos: center){
  background-image: url(@img);
  background-position: @pos;
  background-repeat: no-repeat;
  background-size: cover;
}

.cristal{
  padding: 40px 0;
  background: fade(#fff,94%);
  font-weight: 300;
  text-align: center;
  h1,h2,h3 {
    font-weight: 300;
    color:@main;
    font-size: 2.8em;
  }
  p{
    color: @b;
    font-size: 1em;
  }
}
hr{
  border-top: 1px solid @w/1.1;
  margin: 20px 0;
}

.title{
  font-weight: 300;
  color:@main;
  font-size: 2.6em;
}
p{
  font-weight: 300;
  color: @b;
  font-size: 1em;
}
/* ################################ GENERAL */
body{
  .font;
  background: @w;
}

.topbar{
  position: relative;
  z-index: 1;
  background: fade(@main, 90%);
  padding: 8px 0;
  .w100;
  font-weight: lighter;
  padding: 6px 0;
  text-align: right;
  color:@w;
  font-size: 0.8em;
  p{color:@w;}
  a{
    display: inline-block;
    color:@w;
    text-decoration: none;
    margin: 0 10px;
    &:hover{
      color: @sec;
    }
  }
  span{
    display: inline-block;
    margin: 0 10px;
  }
}

header{
  background: fade(@w, 90%);
  .w100;
  text-align: center;
  padding: 20px 0;
  position: relative;
  z-index: 1;
  .transition(200ms);
  .logo{.opacity(0); .transition(300ms);  }
  a[href="#inicio"]{ background: transparent !important; }
  nav{
    margin-top: 10px;
    ul{
      li{
        @media @tablet{ .col(4) !important; }
        @media @mobile{ .col(6) !important; }
        a{
          font-size: 0.8em;
          color:@main;
          font-weight: lighter;
          padding: 5px;
          &:hover, &.active{
            .gradient(@main, @sec);
            .border-radius(3px);
            color:@w;
          }
        }
        /*
        &:last-child{
          a{
            background: @main;
            color:@w;
            .border-radius(3px);
            .gradient(#34628E, #5786B4);
            &:hover{
              .gradient(@main, @sec);
            }
          }
        }
        */
      }
    }
  }
  &.stuck{
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
    padding: 8px 0;
    .transition(1000ms);
    .logo{.opacity(1); .transition(300ms); }
  }
}


#inicio{
  margin-top: -108px;
  position: relative;
  z-index: 0;
  min-height: 130%;
  overflow: hidden;
  .font;
  font-weight: 300;
  #phrase{
    padding-top: 20%;
    color:@main;
    text-align: center;
    #plogo{
      margin-top: 80px;
    }
    #p1{
      font-size: 4em;
    }
    #p2{
      font-size: 2.6em;
    }
  }
}



#nosotros{
  position: relative;
  z-index: 1;
  .cristal{
    margin-top:-190px;
  }
}


#procedimientos{
  padding: 60px 0;
  .cristal{
    margin-bottom: 60px;
  }
  article{
    position: relative;
    height: 340px;
    h2{
      color:@main;
      font-size: 1.6em; font-weight: 300;
      position: absolute;
      left: 10px;
      bottom: 32px;
      z-index: 1;
    }
    a{
      position: absolute;
      left: 10px; bottom: 10px;
      color:@sec;
      text-decoration: none;
      font-weight: 300;
      .transition(300ms);
      z-index: 1;
      &:hover{
        color:@main;
        .transition(300ms);
      }
    }
    &:after{
      content:"";
      position: absolute;
      bottom: 0; left: 0;
      height: 80px; width: 100%;
      .gradient( @w, fade(@w, 0));
      z-index: 0;
    }
  }
  [role="rinoplastia"]{ .bgF('../img/role_rinoplastia.jpg'); }
  [role="quirurgicos"]{ .bgF('../img/role_quirurgicos.jpg'); }
  [role="noquirurgicos"]{ .bgF('../img/role_noquirurgicos.jpg'); }

  [role="cirugiadementon"]{ .bgF('../img/role_cirugiadementon.jpg'); }
  [role="bichectomia"]{ .bgF('../img/role_bichectomia.jpg'); }
  [role="otoplastia"]{ .bgF('../img/role_otoplastia.jpg'); }
  [role="liposucciondecuello"]{ .bgF('../img/role_liposucciondecuello.jpg'); }
  [role="blefaroplastia"]{ .bgF('../img/role_blefaroplastia.jpg'); }
  .slick-arrow{
    background: fade(@w, 80%);
    .box-sizing(border-box);
    .border-radius(50%);
    color:@sec;
    width: 30px; height: 30px;
    font-size: 1.3em;
    top: 40%;
    &.slick-prev{left: 20px;}
    &.slick-next{right: 20px;}
  }
}


#sobre{
  padding: 200px 0;
  .container{
    padding: 100px 0 100px 0;
  }
}

#contactanos{
  min-height: 380px;
  margin: 60px 0;
  overflow: hidden;
  .contactanos{
    color:@w;
    padding: 154px 0;
    text-align: center;
    font-size: 3.4em;
    font-weight: 700;
  }
  .personalizada{
    padding: 154px 0;
    text-align: center;
    font-size: 1.8em;
    p{color:@main;}
  }
}


#experiencia{
  margin: 60px 0;
  padding: 20px 0 20px 0;
  overflow: hidden;
  .title{
    margin: 40px 0 20px 0;
  }
  a{
    display: inline-block;
    float: right;
    color:@main;
    text-decoration: none;
    text-align: right;
    margin: 30px 0 0 0;
    font-size: 1.2em;
    font-weight: 300;
    &:hover{
      color: @sec;
    }
  }
}


#innovacion{
  .title{
    margin: 40px 0 20px 0;
  }
  p{
    margin: 20px 0;
  }
}


#beneficios{
  text-align: center;
  background: @sec;
  overflow: hidden;
  #beneficiosIMG{
    width: 100%;
    padding-top: 600px;
  }
  h2 {
    font-weight: 300;
    font-size: 2.8em;
    color:@w;
    padding: 40px 0;
    text-align: center;
    color:@main;
  }
  p{
    color:@w;
    margin: 30px 0;
    font-size: 1.2em;
  }
  .icon{
    color:@w;
    font-size: 4em;
    margin: 10px 0;
  }
}

#comparativo{
  overflow: hidden;
  h3{
    font-weight: 300;
    color:@main;
    font-size: 2em;
    padding: 40px 0;
    div{
      color:@g;
    }
  }

  table, tr, td{
    border:none;
    width: 100% !important;
  }
  tr{
    border-bottom: 2px solid @w/1.1;
    height: 74px;
    td{
      padding: 10px;
      min-height: 74px;
      font-size: 1.3em;
      vertical-align: middle;

    }
  }
  .otros{
    text-align: right;
    td{text-align: right; color:@g;}
  }
  .middle{
    background: @main;
    td{text-align: center; font-size: 1em; font-weight: 300; color:@w;}
  }
  .tumescente{
    text-align: left;
    h3{color:@sec; }
    td{color:@sec;}
  }
}



#contacto{
  margin: 60px 0;
  a{
    color:@sec;
    text-decoration: none;
    &:hover{
      color:@g;
    }
  }
  .mapcont{
    padding: 20px 0;
  }
  form{
    label{
      color:@g;
      font-weight: 300;
      font-size: 0.8em;
      margin: 10px 0 5px 0;
    }
    input,textarea{
      background: @w/1.1;
      border:none;
      padding: 10px;
      font-size: 0.9em;
      .font;
      border-bottom: 2px solid @w/1.1;
      &:focus{
        border-bottom: 2px solid @sec;
      }
    }
    textarea{
      height:140px;
      resize: none;
    }
    button{
      width: 100%;
      margin: 20px 0;
      border: 2px solid @sec;
      color:@sec;
      background: transparent;
      .font;
      padding: 10px;
      font-size: 1.1em;
      &:hover{
        cursor: pointer;
        background: @sec;
        color:@w;
      }
    }
    .resultado{
      .box-sizing(border-box);
      padding: 10px;
      text-align: center;
      color:@sec;
    }
  }
}


.experienciaul{
  list-style-position: inside;
  list-style-type: square;
  color:@b;
  li{
    margin: 10px;
    font-size: 0.9em;
    font-weight: 300;
    .at{
      display: block;
      color:@main;
    }
    .where{
      display: block;
      color:@sec;
    }
  }
}
.thedr{
  margin-top: 60px;
}


#swipebox-overlay{
  background: fade(@w, 80%);
}
.slick-arrow{
  font-size: 3em;
  background: fade(@w, 90%);
  width: 60px; height: 60px;
  top: 47%;
  &:hover{
    background: fade(@w, 90%);
  }
}
.fa-caret-left:before{
  content:"\f104";
}
.fa-caret-right:before{
  content:"\f105";
}






.fullD{
  position: relative;
  background: @w;
  color:@main;
  .container{position: relative; z-index: 1; overflow-y: auto}
  h2, h3, h4{
    font-weight: 300;
    color:@main;
    font-size: 2.6em;
    margin: 20px 0;
  }
  h2{text-align: center;}
  h3{ font-size: 1.6em; }
  h4{ font-size: 1.3em; color:@sec; margin: 10px 0; }
  p{
    color:@main;
    margin:10px 0;
  }
  ul{
    list-style-position: inside;
    list-style-type: square;
    font-weight: 300;
  }
  &#cirugiadementon .cristal{ .bgF('../img/role_cirugiadementon.jpg');}
  &#bichectomia .cristal{ .bgF('../img/role_bichectomia.jpg'); }
  &#otoplastia .cristal{ .bgF('../img/role_otoplastia.jpg'); }
  &#liposucciondecuello .cristal{ .bgF('../img/role_liposucciondecuello.jpg'); }
  &#blefaroplastia .cristal{ .bgF('../img/role_blefaroplastia.jpg'); }

  &#bioplastia .cristal{ .bgF('../img/role_bioplastia.jpg'); }
  &#hialuronico .cristal{ .bgF('../img/role_hialuronico.jpg'); }
  &#botox .cristal{ .bgF('../img/role_botox.jpg'); }
  &#dermosustencion .cristal{ .bgF('../img/role_dermosustencion.jpg'); }

  .cristal{
    padding: 100px 0 40px 0;
    position: relative;
    &:after{
      content:"";
      position: absolute;
      bottom: 0; left: 0;
      height: 100%; width: 100%;
      .gradient( @w, fade(@w, 20%));
      z-index: 0;
    }
  }

}
.center{text-align: center;}

.rinos{
  padding: 40px 0;
  .title{margin-top: 40px; }
}


#quirurgicos, #noquirurgicos{
  padding: 60px 0;
}


footer{
  margin: 40px 0 0 0;
  width: 100%;
  background: @main;
  padding: 25px 0;
  text-align: right;
  border-top: 1px solid @sec;
  nav{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 0.9em;
    @media @mobile, @tablet{

    }
    ul{
      li{
        @media @tablet{.col(4) !important; padding: 10px 0;}
        @media @mobile{.col(6) !important; padding: 15px 0;}
        a{

          color:@w
        }
      }
    }
  }
  img{
    width: 100%;
  }
}

#galeria{
  .slider{
    margin-top: 60px;
  }
}

.galerio{
  display: block;
  .border-radius(50%);
  overflow: hidden;
  position: relative;
  img{
    .border-radius(50%);
    overflow: hidden;
    border: 20px solid @w/1.2;
    .box-sizing(border-box);
  }
  .titleGal{
    position: absolute;
    left: 0; bottom: 50px;
    width: 100%;
    background: fade(@w/1.2, 90%);
    color:@w;
    text-align: center;
    padding: 10px;
    .box-sizing(border-box);
    font-weight: 300;
    font-size: 0.9em;
  }
}
